#root {
    display: auto;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.spotImage {
    width: 100%;
    height: 70%;
    min-width: 250px;
    max-width: 335px;
    min-height: 250px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.spot-div {
    display: block;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

p {
    font-size: 20px;
    line-height: 5px;
}

.singleSpots-nav {
    text-decoration: none;
    color: inherit;
    line-break: auto;
    white-space: normal;
}

.allSpotDisplay {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    justify-items: flex-start;
    margin: 5px 20px;
    padding: 50px 100px;
}

.name-rating {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.location-price {
    font-size: smaller;
}

.locationDescription {
    margin-left: 28px;
}