#root {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.spotImage {
    width: 100%;
    min-width: 150px;
    max-width: 650px;
    border-radius: 10px;
}

.spot-div {
    display: block;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 5px;
}

.singleSpots-nav {
    text-decoration: none;
    color: inherit;
    line-break: auto;
    white-space: normal;
}

/* .allSpot-div {
    display: flex;
    flex-direction: column;
    width: 300px;
    line-break: auto;
} */

*/ .spotTexts {
    white-space: normal;
    /* line-break: auto; */
}


.allSpotDisplay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 24px;
    /* list-style: */
    padding: 50px 100px;
    justify-items: flex-start;
    /* justify-items: center; */
}