#root {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.spotImage {
    width: 100%;
    min-width: 50px;
    max-width: 650px;
    min-height: 150px;
    border-radius: 10px;
}

.spot-div {
    display: block;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

p {
    font-size: 20px;
    line-height: 5px;
}

.singleSpots-nav {
    text-decoration: none;
    color: inherit;
    line-break: auto;
    white-space: normal;
}



.allSpotDisplay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 24px;

    padding: 50px 100px;
    justify-items: flex-start;

}

.name-rating {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.location-price {
    font-size: smaller;
}