.pr-linebreak {
    flex-direction: row;
    background-color: #ecf0f8;
    height: 2px;
    width: 1200px;
    margin: 20px 120px;
}

.pr-linebreak-wrapper {
    display: flex;
    flex-direction: row;

}

.bk_info_prev_img {
    width: 350px;
    border-radius: 20px;
    /* height: 256px; */
}

.pr_bk_wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.pr_bk_card {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    box-shadow: #ecf0f8 1px 1px 5px 1px;
    border-radius: 20px;
    width: 800px;
    justify-content: space-between;
}

.pr_bk_content {
    margin: 2px 10px;
    color: #88827d;
}

.pr_bk_info {
    margin-top: 50px;
    margin-left: 80px;

}

#pr_bk_content_city {
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

#pr_bk_content_dates {
    font-size: 14px;
    color: #88827d;
}

.cur_bk_header {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

#pr_bk_linebreak {
    height: 2px;
    background-color: #eaeef7;
    width: 100%;
}

.cur_bk_none {
    display: flex;
    flex-direction: column;
    margin: 0px 140px;
    width: 1500px;
}

.navLink {
    text-decoration: none;
}