.single-spot-div {
    height: 50%;
    width: 80%;
    border-radius: 15px;
}

.single-spotDetails {
    justify-content: center;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.singleSpotImage {
    justify-content: center;
    width: 100%;
    border-radius: 20px;
}

.singleSpotAddress {
    padding-top: 10px;
    margin-left: 10px;
}

.descriptionWrapper {
    margin-left: 10px;
    margin-right: 10px;
}

.description {
    display: inline-block;
    word-break: break-word;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
}

.singleSpotLnBr {
    width: 880px;
    height: 1px;
    background-color: #dddddd;
    margin-top: 30px;
    margin-bottom: 30px;
}

.singleSpotHeadline {
    font-weight: bold;
    margin-bottom: 5px;
}

.singleSpotDescription {
    color: grey;
    padding-bottom: 15px;
}

.singleSpotInfo {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.badges {
    margin-right: 20px;
    width: 50px;
}

.aircoverDescription {
    margin: 5px;
}

.reviewsHeadline {
    font-weight: bold;
    font-size: larger;
}