.reviewDisplay {
    padding-top: 20px;
}

.each-review-detail {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.reviewsContent {
    /* padding-right: 50px; */
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
}

.reviewComment {
    display: grid;
    word-break: break-word;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis
}