.reviewDisplay {
    padding-top: 20px;
}

.each-review-detail {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.reviewsContent {
    padding-right: 50px;
}

.reviewComment {
    display: inline-block;
    word-break: break-word;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
}