.nav-bar {
    /* position: sticky; */
    display: flex;
    height: 35px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ece5e5;
    background-color: rgba(255, 255, 255, 0.836);
    padding: 10px 10px;
    z-index: 1;
}

.nav-home-profile {

    justify-content: space-between;
    display: inline;
}

.home {
    display: flex;
    justify-content: left;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10px;
    width: 180px;
    background-color: white;
    box-shadow: 0px 1px 8px #dddddd;
    border-radius: 10px;
    border: 1px solid #dddddd;
    right: 110px;
    z-index: 2;
    right: 1%;
    padding-bottom: 15px;
}

.options {
    width: 150px;
    height: 2px;
}

.profileButtons {
    background-color: #de1461;
    color: #f8c5d5;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    height: auto;
    cursor: pointer;
}

.profile-button {
    background-color: #de1461;
    color: #f8c5d5;
    border-radius: 5px;
    padding: 2px;
    padding-right: 2px;
    margin: 2px;
    margin-right: 15px;
    height: auto;
    cursor: pointer;
}

.icon {
    width: 45px;
    height: 40px;
    border-radius: 5px;
}